<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Social Network {% endblock %}</title>
</head>

<body>
    <h2>Приятного проведения времени!
        {{ user.username }}
    </h2>
    <h1>
        <a href="{% url 'home' %}">
            Label
        </a>
        <a href="{% url 'mylabel' %}">
            My Label
        </a>
        <a href="{% url 'home' %}">
            Публикации с подписки
        </a>
    </h1>
    {% if user.is_authenticated == False %}
        <a href="{% url 'login' %}">
            Войти
        </a>
    {% endif %} 
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
            Выйти
        </a>
    {% endif %} 
    {% if user.is_authenticated == False %}  
        <a href="{% url 'signup' %}">
            Регистрация
        </a>
    {% endif %} 
    <a href="{% url 'home' %}">
        поиск
    </a>
    <a href="{% url 'home' %}">
        ваши предложения
    </a>
    
    
    {% block content %}    
    {% endblock %}
</body>

</html>         