{% extends 'appSocialNetwork/base.html' %}

{% block content %}
    <h2>Введите данные для регистрации!</h2>
    <form method="post"> 
        {% csrf_token %}
        {{ user_form.username.label }}
        {{ user_form.username }}
        <br>
        {{ user_form.email.label_tag }}
        {{ user_form.email }}
        <br>
        {{ user_form.password1.label_tag }}
        {{ user_form.password1 }}
        <br>
        {{ user_form.password2.label }}
        {{ user_form.password2 }}
        <br>   
        <button type="submit" class="btn btn-primary">Зарегистрироватся</button>
        {{ user_form.errors }}
    </form>
    
{% endblock %}